.container {
  width: max-content; /* Calendar should not grow */
  max-width: 100%; /* Do not remove - flexbox parents */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container rect {
  stroke: rgba(0, 0, 0, 0.08);
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}

@media (prefers-color-scheme: dark) {
  .container rect {
    stroke: rgba(255, 255, 255, 0.04);
  }
}

.scrollContainer {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.calendar {
  display: block; /* SVGs are inline-block by default */
  overflow: visible; /* Weekday labels are rendered left of the container */
}

.calendar text {
  fill: currentColor;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 16px;
  white-space: nowrap;
}

.legendColors {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 3px;
}

@keyframes loadingAnimation {
  0% {
    fill: var(--react-activity-calendar-loading);
  }
  50% {
    fill: var(--react-activity-calendar-loading-active);
  }
  100% {
    fill: var(--react-activity-calendar-loading);
  }
}
