* {
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  /* Unfortunately, the Storybook documentation pages use very specific selectors. */
  /* So we have to use !important a lot. */
  margin: 1em 0 0.375em !important;
  border: none !important;
  padding: 0 !important;
}

h1 {
  margin-top: 0;
}

p {
  margin: 0 0 1.25em !important;
}

p,
ul,
ol {
  margin-top: 0 !important;
}

p,
ul,
ol,
pre {
  max-width: 720px !important;
}

p {
  font-size: inherit !important;
}

code,
pre {
  font-family: ui-monospace, monospace !important;
}

code {
  font-size: 13px !important;
}

pre {
  &,
  span {
    font-family: ui-monospace, monospace !important;
    font-size: 14px !important;
  }
}

a:not(:is(aside a)) {
  color: inherit !important;
  text-decoration: underline !important;
  text-underline-offset: 3px !important;
  text-decoration-color: #bbb !important;

  &:hover {
    text-decoration-color: #888 !important;
  }
}

#storybook-root {
  overflow: hidden;
}

.dark {
  &.sb-show-main {
    color: #fff;
    background-color: hsl(0, 0%, 12%);
  }

  .docblock-source {
    background: hsl(0, 0%, 12%);
  }
}

.sb-show-main.sb-main-centered #storybook-root {
  padding: 2.5rem; /* weekday labels */
}

.sbdocs {
  td pre > code {
    white-space: pre !important;
  }
}

.sbdocs-wrapper {
  padding: 1rem 3rem !important;
}

.sbdocs-content li {
  font-size: inherit !important;
  margin-top: 0.5em !important;
}
