body {
  font-family: ui-sans-serif, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-top: 1em;
  margin-bottom: 0.375em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  margin-top: 0;
}

p {
  margin: 0 0 1.25em;

  & + ul,
  & + ol {
    margin-top: -0.75em;
  }
}

p,
pre {
  box-sizing: border-box;
  max-width: 720px;
}

pre,
code {
  font-family: ui-monospace, monospace;
  font-size: 14px;
}

a {
  color: inherit;
  text-underline-offset: 3px;
  text-decoration-color: #bbb;

  &:hover {
    text-decoration-color: #888;
  }
}

#storybook-root {
  overflow: hidden;
}

.dark {
  &.sb-show-main {
    color: #fff;
    background-color: hsl(0, 0%, 12%);
  }

  .docblock-source {
    background: hsl(0, 0%, 12%);
  }
}

.sbdocs {
  td pre > code {
    white-space: pre !important;
  }
}

.sb-show-main.sb-main-centered #storybook-root {
  padding: 2.5rem; // weekday labels
}
