body {
  font-family: 'Nunito Sans', -apple-system, '.SFNSText-Regular', 'San Francisco',
    BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-top: 1em;
  margin-bottom: 0.375em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  margin-top: 0;
}

p {
  margin: 0 0 1.25em;
}

p,
pre {
  box-sizing: border-box;
  max-width: 720px;
}

a {
  color: inherit;
  text-underline-offset: 3px;
  text-decoration-color: #bbb;

  &:hover {
    text-decoration-color: #888;
  }
}

#storybook-root,
.docs-story {
  pre,
  code,
  .syntax-highlighter {
    font-family: ui-monospace, Menlo, Monaco, 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
      'Source Code Pro', 'Droid Sans Mono', 'Courier New', monospace;
    font-size: 14px;
  }

  pre {
    // Match sidebar background
    background: #222425 !important;
  }

  pre code {
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-size: 13px;
  }
}

.dark {
  &.sb-show-main {
    color: #fff;
    background-color: hsl(0, 0%, 12%);
  }
}

.sbdocs {
  td pre > code {
    white-space: pre !important;
  }
}
