body {
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-top: 1em;
  margin-bottom: 0.375em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  margin-top: 0;
}

p {
  margin: 0 0 1em;
  max-width: 72ch;
}

a {
  color: #225662;
}

code,
pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 0.9rem;
}

code {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

pre {
  margin: 1.5rem 0;
  border-radius: 4px;
  padding: 1em 1.25em;
  background-color: hsl(210, 50%, 98%);
  border: solid 1px hsl(210, 50%, 94%);
}
