.container rect {
  stroke: rgba(0, 0, 0, 0.08);
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}

@media (prefers-color-scheme: dark) {
  .container rect {
    stroke: rgba(255, 255, 255, 0.04);
  }
}

.calendar {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: visible;
}

.calendar text {
  fill: currentColor;
}

.calendar [data-level='0'] {
  fill: var(--react-activity-calendar-level-0);
}

.calendar [data-level='1'] {
  fill: var(--react-activity-calendar-level-1);
}

.calendar [data-level='2'] {
  fill: var(--react-activity-calendar-level-2);
}

.calendar [data-level='3'] {
  fill: var(--react-activity-calendar-level-3);
}

.calendar [data-level='4'] {
  fill: var(--react-activity-calendar-level-4);
}

.footer {
  display: flex;
  gap: 1.5em;
}

.legendColors {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

@keyframes loadingAnimation {
  0% {
    fill: var(--react-activity-calendar-loading);
  }
  50% {
    fill: var(--react-activity-calendar-loading-active);
  }
  100% {
    fill: var(--react-activity-calendar-loading);
  }
}
