name: Playwright tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # manually
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
      options: --user 1001
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: lts/*

      - uses: pnpm/action-setup@v4.2.0
        name: Install pnpm
        with:
          version: latest
          run_install: false

      - name: Install dependencies
        run: pnpm install -r --ignore-scripts

      - name: Run Playwright tests
        run: npx playwright test

      - uses: actions/upload-artifact@v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: .playwright-report
          path: .playwright-report/
          include-hidden-files: true
          retention-days: 30
